# this is machine learning

In [1]:
# this is machine learning

In [2]:
print('Prasanna')

Prasanna

In [3]:
if 7>3:
    print('True')
else:
    print('False')

True

In [4]:
# this is comment

In [5]:
""" 
hello
this is 
me """

' \nhello\nthis is \nme '

In [6]:
''' 
this 
is me '''

' \nthis \nis me '

In [7]:
a=7

In [8]:
type(a)

int

In [9]:
a=4+5j

In [10]:
type(a)

complex

In [11]:
a,b,c='Apple','carrot','butter'
print(a)
print(b)
print(c)

Apple
carrot
butter

In [12]:
fruits={'apple':20,'banana':30,'cherry':50}
key=fruits.keys()
key

dict_keys(['apple', 'banana', 'cherry'])

In [13]:
value=fruits.values()
value

dict_values([20, 30, 50])

In [ ]:
#type casting in python
number =int(input('enter a number')) #int lekheko bhaneko type cast gareko
if number%2==0:
               print(f'it is even number {number}')
else:
     print('this is odd')

# this is slicing

In [ ]:
b = "hello,  World!"
print(b[-3:])

In [ ]:
a="hello world"
print(a.upper())

In [ ]:
a="hello world. "
print(a.strip())

In [ ]:
a="hello world"
print(a.replace("e","o"))

## Day2

In [ ]:
a= int(input(' enter the  value for a :')) #typecasting with int
maxNum = 0
if(a> maxNum):
    print(f'the new maximum number is :{a}')
else:
    print(f'the entered number {a} is not maximum number')

In [ ]:
a= float(input(' enter the  value for a :')) #typecasting with int
maxNum = {-1.3,-1.0,-0.98,-0.5}
if(maxNum[0]> maxNum[1]):
    print(f'the new maximum number is :{maxNum[0]}')
else:
    print(f'the entered number{maxNum[0]} is not maximum number')

In [ ]:
a=3
b=25
if a>b:
    print(f"{a} is greater than {b}")
else:
     print(f"{b} is greater than {a}")

In [ ]:

x=5
y=10
import math
a=(3.14*math.pi + math.exp(x)+math.log10((x**2)/y)+math.exp(y)+math.log2(x/10)+x**(3*y))
print(a)

In [ ]:
thisList=["apple","apple", "banana","cherry"]
print(thisList[-1])

print(thisList)
type(thisList)

In [ ]:
import math
x=1
a=(math.log2((math.exp(x)/(math.exp(x)+1))+(math.log10((math.exp(-x))/(math.exp(-x)+1)))+math.log((math.exp(x-1)/math.exp(x+1)+math.exp(x**2)+(x**3))))+(37*math.pi)-(18*((math.pi)**2))
print(a)

In [ ]:
import math
x= 1
result= math.log2((math.exp(x))/(math.exp(x)+1)) + math.log10((math.exp(-x))/(math.exp(-x)+1)) + math.log((math.exp(x-1))/(math.exp(x+1)+math.exp((x**2)+(x**3))))+ 37*math.pi- 18*(math.pi)**2
print(result)

In [ ]:
thisList=["apple","apple", "banana","cherry"]
thisList[1]="mango"
print(thisList)

In [ ]:
thisList=["apple","apple", "banana","cherry"]
thisList[1:3]=["carrot","spinach"]
print(thisList)
thisList.insert(1,"kiwi")
print(thisList)
thisList.append("avocado")
print(thisList)

In [ ]:
a=['abc','xyz','pqr']
b=['def','rst','lmn']
a.extend(b)
print(a)
a.append(b)
print(a)

In [ ]:
thisList=["apple","apple", "banana","cherry"]
thisList.remove(thisList[1])
print(thisList)

In [ ]:
thisList=["apple","apple", "banana","cherry"]
thisList.pop(1)
print(thisList)
del(thisList)

In [ ]:
thisList=["apple","apple", "banana","cherry"]
for x in thisList:
    print(x)

In [ ]:
#fibonacci
x=int(input("enter the nth term:"))

#day3

In [ ]:
thisTuple=('apple','banana','cherry','apple')
print(thisTuple)

In [ ]:
thisTuple=('apple','banana','cherry','apple')
print(len(thisTuple))

In [ ]:
thisTuple=('apple','banana','cherry','apple')
print(type(thisTuple))

In [ ]:
x=('apple','banana','cherry','apple')# to change the elements in tuple
y=list(x)
y[1]="kiwi"
x=tuple(y)
print(x)

In [ ]:
x=('apple','banana','cherry','apple')# to change the elements in tuple
y=list(x)
y.append("orange")
x=tuple(y)
print(x)

In [ ]:
x=lambda a: a+10
print(x(5))

In [ ]:
x= lambda a: 'even' if a%2==0 else 'odd'
print(x(5))

In [ ]:
x= lambda a:'postive' if a>=0 else('negative' if a<0 else 'zero')
print(x(-9))

In [ ]:
x=7
if(x>0):
    print("postive")
elif(x<0):
    print("negative")
else:
    print("zero")

In [ ]:
thisSet={'apple','banana','Cherry','Apple'}
print(thisSet)

In [ ]:
thisSet={'apple','banana','Cherry','Apple'}
for x in thisSet:
    print(x)
print('apple' in thisSet)

In [ ]:
thisSet={'apple','banana','Cherry','Apple'}
thisSet.add("Orange")
print(thisSet)

In [ ]:
thisSet={'apple','banana','Cherry','Apple'}
tropical={'pineapple','mango', 'papaya'}
thisSet.update(tropical)
print(thisSet)

In [ ]:
set1={1,'e',3.5}
set2={2,"b","c"}
set3=set1.union(set2)
set4=set1 | set2
print(set3)
print(set4)

In [ ]:
set1={1,'a',3}
set2={'a',"b","c"}
set3=set1.intersection(set2)
print(set3)
set4=set1 & set2
print(set4)

In [ ]:
set1={1,2,3,4,5,6,7,8,9,10}
set2={8,9,10,11,12}
set3 =set1.difference(set2)
print(set3)

In [ ]:
a={1,2,3}
b=[4,5]
d=a.union(b)
e=a|b
print(d)
print(e)

In [ ]:
set1={1,2,3,4,5,6,7,8,9,10}
set2={8,9,10,11,12}
set3=set1.symmetric_difference(set2)
set4=set1 ^ set2
print(set3)
print(set4)

In [ ]:
a={1,2,3}
b=[4,5]
d=a.difference( b
print(d)

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

thisdict.values()

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.keys()

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"]=2000 #change keys values
thisdict.values()

In [ ]:
def ticketCalculator(c,d):
    if(c=='First Class'):
        price=5
    elif(c=='Second Class'):
        price=3
    else:
        price=1
    while d>500:
        price-0.10*price
        
b=input('Enter your name:')
c=input('Select the train class to travel [First Class | Second Class | Third Class]:')
d=float(input("Enter the distance to be travel:"))
print(f'The ticket fare of the passenger{b} is {ticketCalculator(c,d)}')

In [6]:
myfamily = {
  "child1" : {
    "name" : "Prasanna",
    "year" : 2004
  },
  "child2" : {
    "name" : "Manjil",
    "year" : 2007
  },
  "child3" : {
    "name" : "santu",
    "year" : 2011
  }
}


print(myfamily["child2"]["name"])

Manjil

In [1]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict.get('model'))

Mustang

In [2]:
#match statement is like switch case in C/C++

In [3]:
day=int(input("enter the day"))
match day:
  case 1:
      print("sunday")
  case 2:
      print("monday")
  case 3:
       print("tuesday")
  case 4:
       print("wednesday")
  case 5:
       print("thursday")
  case 6:
       print("friday")
  case 7:
       print("saturday")
  case _ :
       print("INvalid ")

enter the day 5

thursday

In [4]:
day=int(input("enter the day"))
match day:
    case 1|2|3|4|5:
        print("today is monday")
    case 6|7:
        print("i love weekends")

enter the day 7

i love weekends

In [9]:
a,b,*c="apple", "banana","cherry","dates","bubble"
print(c[0])

cherry

In [10]:
day=int(input("enter the day"))
month=int(input("enter the month"))
match day:
     case 1|2|3|4|5 if month == 4:
         print("A week day in April")
     case 1|2|3|4|5 if month == 5:
         print("A week day in April")
     case _:
         print("no match")

enter the day 5
enter the month 10

no match

In [21]:
## import math
expression=int(input("enter what do you want to find TSA 2 or Volume 1 of solid"))
def combined_solver(expression)
r=7
h=20
vol=0
tsa=0
match expression:
      case 1:
          vol=2/3*(math.pi*r**3)+math.pi*r**2*h
          print (vol)
      case 2:
          tsa=4*math.pi*r**2*h+2*math.pi*r*h
          print (tsa)
      case _:
          print("not available")

print(f"volume:{combined_solver(expression}")

enter what do you want to find TSA 2 or Volume 1 of solid 2

13194.68914507713

In [ ]:
a=int(input('Enter your age:'))
b=int(input('Enter your height:'))
c=int(input('Enter your weight:'))
def display(case):
    match case:
          case 1:
              print(f"age:{a}")
          case 2:
              print(f"height{b}")
          case 3:
              




    
b=input('Enter your height:')
c=input('Enter your weight:')